<h3>Listado de Heroes</h3>

<div *ngIf="deleHero; else nothinWasDeleted">
  <h3>Heroe borrado <small class="text-danger">{{deleHero}}</small></h3>
</div>

<ng-template #nothinWasDeleted><!--Si no se cu,ple muestra templae en numeral-->
  <h3>No ha borrado nada</h3>
</ng-template>



<button
*ngIf="heroNames.length > 0"
(click)="removeLastHero()"
class="btn btn-outline-danger"
>Borrrar ultimo heroes</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{ name }}</li>

</ul>
